@charset "utf-8";

@media screen and (max-width: 425px) {
    html {
        font-size: 10px;
      }
    
      .titlename h1 {
        font-size: 3rem;
      }
      .titlename h2 {
        font-size: 2rem;
      }
      .titlename h3 {
        font-size: 1.5rem;
      }
    
      .projector {
        top: 10%;
        left: 0;
        width: 30vw;
        transform: rotate(15deg);
      }
    
      .beam {
        clip-path: polygon(40% 0%, 60% 0%, 120% 100%, -20% 100%);
        height: 110vh;
      }
    
      .container .film {
        display: none;
      }

      .screen {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90%;
      }
      
      .board-inner {
        flex-direction: column;
      }
    
      .board-inner .one {
        width: 100%;
      }
    
      .screen .board .board-inner .border {
        width: 100%;
        height: 1px;
        margin: 5% 0;
      }
    
      .two {
        flex-direction: column;
        height: auto;
      }
      .two .skill {
        margin-top: 10%;
      }

      .modal {
        width: 100%;
        background:url('../images/screen.png')no-repeat center/cover; 
      }
      .modal-content {
        flex-direction: column;
        width: 90%;
        height: 90%;
      }
    
      .modal .modal-content .inner {
        flex-direction: column;
      }
      .modal video {
        max-width: 100%;
        height: auto;
      }
      .video-section, .planning {
        width: 100%;
      }
    
      .planning {
        margin-top: 1rem;
      }
    
      .custom-nav {
        display: none;
      }
    
      .mySwiper {
        height: auto;
      }
    

      .mySwiper .swiper-wrapper  .swiper-slide img {
        width: 100%;
        max-width: 100%;
      }
    
      
      .final-message .thanks {
        font-size: 2.5rem;
      }
    
      .final-message p {
        font-size: 1.5rem;
      }
    
      .main-title {
        font-size: 2rem;
      }
    
      .main-title strong {
        font-size: 3rem;
      }
    }